<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns | slice:1">
    <th mat-header-cell *matHeaderCellDef > {{column}}</th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length+1">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <img [src]="urlImages + element.imagenes[0].foto_x150" alt="{{ element.catalogo }} - {{ element.modelo }}">          
        </div>
        <div class="example-element-description">
          <span class="example-element-symbol">{{ element.catalogo }}</span>
          <span>{{ element.modelo }}</span>
          <span>{{ element.autor }}</span>
          <span>{{ element.ano }}</span>
          <div *ngFor="let premio of element.premios">
            <div>{{ premio.nombre }} - {{ premio.ano }}</div>
          </div>
          <div [innerHTML] = "element.texto_web"></div>
          <span class="example-element-description-attribution" [innerHTML] = "element.destacado"></span>
          <div [innerHTML] = "element.texto_lirico"></div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<section>
  <div class="example-button-container" (click)="download_file(selection.selected)">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>file_download</mat-icon>
    </button>
  </div>
</section>
<div>{{selection.selected | json}}</div>